del {
  color: #d36161;
  background-color: #f4bbbb;
}
ins {
  color: rgb(131, 131, 64);
  background-color: yellow;
}
mark {
  color: red;
  background-color: aqua;
}

progress[value] {
  appearance: none;
  height: 250px;
  width: 1000px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
#big {
  height: 500px;
  width: 500px;
  background-color: red;
  overflow: auto;
}
.small {
  height: 1500px;
  width: 100px;
  background-color: aqua;
}
meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(90deg, yellow 5%, yellow 100%);
  background-size: 100% 100%;
}
meter::-webkit-meter-suboptimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(90deg, #8bcf69 15%, #8bcf69 100%);
  background-size: 100% 100%;
}
meter::-webkit-meter-even-less-good-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(90deg, aqua 15%, aqua 100%);
  background-size: 100% 100%;
}
