del {
  color: #d36161;
  background-color: #f4bbbb;
}
ins {
  color: rgb(131, 131, 64);
  background-color: yellow;
}
mark {
  color: red;
  background-color: aqua;
}

progress[value] {
  appearance: none;
  height: 250px;
  width: 1000px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
