<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>This is a {{product}}</h1>
      <h1>{{content}}</h1>
      <div v-show="brandNew">
        <a :href="link" v-if="inStock" target="_blank">Google</a>
        <a :href="link" v-else-if="onSale" target="_blank">Ebay</a>
        <a :href="link" v-else target="_blank">Amazon</a>
      </div>
      <ul>
        <li v-for="book in books">{{book.bookId}}. {{book.bookName}}</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
