<section class="section__body">
<div class="d-flex flex-row section__body--banner"><b><%= @title %></b></div>
<hr>
<h3><strong><a href="/login">Login</a></strong> to record and track your health data.</h3>
</section>