<div class="d-flex flex-row"><b>Welcome back, <%= @logged_in_user.name %> from <%= @logged_in_user.city %> ! </b></div>

<hr>
<%# <%= line_chart @line_graph_data %>
<%# <%= line_chart @line_graph_data1, xtitle: "Date", ytitle: "Weight"%> 
<%#= line_chart @result %>

